<%# 
	distribute area form 
%>
<%
	if @distribute_area != nil
		delete_url = distribute_area_path(@distribute_area)
		form_url = distribute_area_path(@distribute_area)
		method = 'patch'

		delete_confirm = "Are you sure you want to permanently delete distribution area #{@distribute_area.name}!?"

	else
		delete_url = nil
		delete_confirm = nil
		form_url = distribute_areas_path
		method = 'post'
	end

	states_hash = {}
	@states.each {
		|state|
		states_hash[state.id] = state.name
	}

%>
<%= bs_form_for :distribute_area, url: form_url, method: method do |f| %>
	<%= f.text_field :name, 'Area Name', nil, required: true -%>
	<%= f.text_field :description, 'Description' -%>
	<%= f.static_drop_down :state_id, 'State', false, states_hash -%>
	<%= f.submit_well nil, distribute_areas_path, delete_url, delete_confirm -%>
<% end -%>