
<%#
	distribution area show
%>

<div class='panel panel-default main-panel'>
  <div class='panel-heading'>

    <h3 class='panel-title edit-heading'><%= "#{@distribute_area.name}" -%></h3>
    <%= link_to [:edit, @distribute_area], class: "glyphicon glyphicon-pencil edit-heading" do -%><% end -%>

  </div>
  <div class='panel-body'>

  	<h5><span class='name'>State:</span><%= @distribute_area.state.name if @distribute_area.state != nil -%></h5>

  	<h5><span class='name'>Description:</span><%= @distribute_area.description -%></h5>

  </div>
</div>

<br />

<%= render partial: 'tabs', locals: { show_add_button: true }  -%>