<%#
	distribution area tabs

	optional locals: show_add_button
%>

<%
	if defined?(show_add_button) ==nil
		show_add_button = false
	end
%>

<ul class='nav nav-tabs nav-justified'>
  <li class='active'><a data-toggle='tab' href='#images-pane'>Images </a></li>
</ul>

<br />

<div class="tab-content">

  <div id='images-pane' class='tab-pane fade in active'>

    <% if @distribute_area.image != nil %>
      <% @distribute_area.image.each do |image| %>
        <% @image = image %>
        <%= render 'images/show_small' -%>
      <% end %>
    <% end %>

    <% if show_add_button %>
    	<form action='<%= new_image_path -%>' method='get'>
    		<input type='hidden' name='distribute_area_id' value='<%= @distribute_area.id -%>' />
    		<input type='submit' value='New Image' class='btn btn-default add-button' />
    	</form>
    <% end %>

  </div>
</div>