<%#
	edit distribute area
%>

<% content_for :heading do %>

	<h2>Edit Distribution Area</h2>

<% end -%>

<% content_for :form do %>

	<%= render :partial => 'form'-%>

	<br />

	<%= render partial: 'tabs', locals: { show_add_button: true } -%>

<% end %>