

<%#
  distribute areas index
%>

<%# object to get ID for JSON show in layouts/view %>
<% @object = @distribute_area %>

<% content_for :heading do %>

  <h2>Distribution Areas</h2>

<% end %>

<% content_for :master_list do %>

  <% @distribute_areas.each do |area| %>
    <a id='<%=area.id%>' data-url='<%=url_for :controller => 'distribute_areas', :action => 'show', :id => area.id, :format => 'string' %>' class="list-group-item">
      <h4 class="list-group-item-heading"><%= area.name -%></h4>
      <p class="list-group-item-text"></p>
    </a>
  <% end -%>
<% end %>


<% content_for :after_master_list do %>
  <%= button_to new_distribute_area_path, :class => 'btn btn-default', :method => 'get' do -%>
    Add Area
  <% end -%>

<% end %>