<%#
	print jobs show fields
%>

<%= display_date 'Due Date', @print_job.date_due -%>
<%= display_money 'Quote Amount', @print_job.quote_amount -%>
<%= display_basic 'Quantity', @print_job.quantity -%>
<%= display_basic 'Stock', @print_job.print_stock.name unless @print_job.print_stock.blank? -%>
<%= display_basic 'Size', @print_job.print_size.name unless @print_job.print_size.blank? -%>
<%= display_basic 'Sides', @print_job.side_count -%>
<%= display_basic 'Product', @print_job.print_product.name unless @print_job.print_product.blank? -%>
<%= display_basic 'Supplier', @print_job.company.summary unless @print_job.company.blank? -%>
<%= display_basic 'Delivery Location', @print_job.delivery_location.summary unless @print_job.delivery_location.blank? -%>
<%= display_basic 'Notes', @print_job.notes -%>


<!--h5>
  <span class='name'>Colours:</span>
  <%# first = true %>
  <%# @print_job.print_colour.each do |print_colour| %>
    <%#= ', ' if !first -%>
    <%#= "(#{print_colour.summary})" -%>
    <%# first = false if first %>
  <%# end %>
</h5>





<%# if @print_job.image != nil %>
  <div class="row">
    <%# @print_job.image.each do |image| %>
      <div class="col-xs-3 col-md-3">
        <a href="<%#= image.file.url -%>" class="thumbnail" target='_blank'>
          <img src='<%#= image.file_url :thumb -%>'>
          <div class="caption text-center">
            <h5><%#= image.description -%></h5>
          </div>
        </a>
      </div>
    <%# end %>      
  </div>
  
<%# else %>
  <h5>
    <span class='name'>Images:</span>
  </h5-->
<%# end %>


  