<%#
	print jobs show small
%>

<div class='panel panel-default'>
  <div class='panel-heading'>
    <%#= link_to @print_job do -%>

      <h3 class='panel-title edit-heading'>
        <%= @print_job.name -%>
        <%= " - #{@print_job.company.name}" if @print_job.company != nil -%>
      </h3>

    <%# end %>
    <%= link_to [:edit, @print_job], class: "glyphicon glyphicon-pencil edit-heading" do -%><% end -%>
  </div>
  <div class='panel-body'>

    <% if !@print_job.job.is_package_deal %>
      <h5>
        <span class='name'>Quote Amount:</span>
        <%= @print_job.quote_str -%>
      </h5>
    <% end %>

    <h5>
      <span class='name'>Quantity:</span>
      <%= @print_job.quantity if @print_job.quantity != nil -%>
    </h5>

    <h5>
      <span class='name'>Size:</span>
      <%= @print_job.print_size.name if @print_job.print_size != nil -%>
    </h5>

    <h5>
      <span class='name'>Stock:</span>
      <%= @print_job.print_stock.name if @print_job.print_stock != nil -%>
    </h5>

    <h5>
      <span class='name'>Product:</span>
      <%= @print_job.print_product.name if @print_job.print_product != nil -%>
    </h5>

    <h5>
      <span class='name'>Description:</span>
      <%= @print_job.description -%>
    </h5>

    <!--h5>
      <span class='name'>Colours:</span>
      <%# first = true %>
      <%# @print_job.print_colour.each do |print_colour| %>
        <%#= ', ' if !first -%>
        <%#= "(#{print_colour.colour_str})" -%>
        <%# first = false if first %>
      <%# end %>
    </h5-->

    <% if @print_job.distribute_job.count > 0 %>
      <% count = 0 %>
      <% @print_job.distribute_job.each do |distribution| %>
        <% count += 1 %>

        <h5>
          <span class='name'>Distribution Job <%= count -%>:</span>
          <%
            distribute_area = ''
            distribute_area = "to #{distribution.distribute_area.name}" if distribution.distribute_area != nil 
          %>
          <%= "#{distribution.quantity} #{distribute_area}" -%>
        </h5>

      <% end %>
    <% end %>



    <%# if @print_job.image != nil %>
      <!--div class="row">
        <%# @print_job.image.each do |image| %>
          <div class="col-xs-3 col-md-3">
            <a href="<%#= image.file.url -%>" class="thumbnail" target='_blank'>
              <img src='<%#= image.file_url :thumb -%>'>
              <div class="caption text-center">
                <h5><%#= image.description -%></h5>
              </div>
            </a>
          </div>
        <%# end %>      
      </div>
      
    <%# else %>
      <h5>
        <span class='name'>Images:</span>
      </h5>
    <%# end %>
  </div-->

  <div class='panel-footer'>
    <div class="btn-group">
      <%= form_for :report, method: :get, url: new_report_path do |f| %>
        <button type='submit' class='btn btn-sm'>Job Bag</button>
        <input type='hidden' name='print_job_id' value='<%= @print_job.id -%>' />
      <% end %>
    </div>
  </div>
</div>
