<%#
	print job sub-form

	Required locals:
		form
		print_job
%>
<%
	stocks_hash = {}
	@stocks.each {
		|stock|
		stocks_hash[stock.name] = stock.name
	}

	sizes_hash = {}
	@sizes.each {
		|size|
		sizes_hash[size.name] = size.name
	}

	products_hash = {}
	@products.each {
		|product|
		products_hash[product.name] = product.name
	}

	companies_hash = {}
	Company.allByCompanyType(CompanyType::PRINT_SUPPLIER).each {
		|company|
		if company.name != nil
			companies_hash[company.id] = company.name
		end
	}

	delivery_locations_hash = {}
	@delivery_locations.each {
		|location|
		delivery_locations_hash[location.id] = location.name
	}

	sides_hash = { f: 1, t: 2 }

%>
<%= form.fields_for :print_job, print_job do |print_fields| %>
	<%= print_fields.date_picker :date_due, 'Printing Due' -%>

	<div class='sub-quote-field'>
		<%= print_fields.text_field :quote_amount, 'Printing Quote Amount', nil, class: 'number' -%>
	</div>

	<%= print_fields.text_field :quantity, 'Print Quantity', nil, class: 'number' -%>

	<%= print_fields.fields_for :print_stock, print_job.print_stock do |stock_fields| -%>
		<%= stock_fields.static_drop_down :name, 'Stock', true, stocks_hash -%>
	<% end %>

	<%= print_fields.fields_for :print_size, print_job.print_size do |size_fields| -%>
		<%= size_fields.static_drop_down :name, 'Size', true, sizes_hash -%>
	<% end %>

	<%= print_fields.static_drop_down :both_sides, 'Sides', false, sides_hash -%>

	<%= print_fields.fields_for :print_product, print_job.print_product do |product_fields| -%>
		<%= product_fields.static_drop_down :name, 'Product', true, products_hash -%>
	<% end %>

	<%= print_fields.static_drop_down :company_id, 'Print Supplier', false, companies_hash -%>
	<%= print_fields.static_drop_down :delivery_location_id, 'Delivery Location', false, delivery_locations_hash -%>	
	<%= print_fields.text_area :notes, 'Notes' -%>
<% end -%>