<%#
	print job tabs

	optional locals: show_add_button
%>
<%
	if defined?(show_add_button) ==nil
		show_add_button = false
	end
%>
<ul class='nav nav-tabs nav-justified'>
  <li class='active'><a data-toggle='tab' href='#colours-pane'>Colours </a></li>
  <li><a data-toggle='tab' href='#images-pane'>Images </a></li>
</ul>

<br />
<br />

<div class="tab-content">
  <div id='colours-pane' class='tab-pane fade in active'>
    <% @print_job.print_colour.each do |print_colour| %>
      <% @print_colour = print_colour %>
      <%= render 'print_colours/show_small' -%>
    <% end %>

    <% if show_add_button %>
      <form action='<%= new_print_colour_path -%>' method='get'>
        <input type='hidden' name='print_job_id' value='<%= @print_job.id -%>' />
        <input type='submit' value='New Colour' class='btn btn-default add-button' />
      </form>
    <% end %>
  </div>

  <div id='images-pane' class='tab-pane fade'>
    <% @print_job.image.each do |image| %>
      <% @image = image %>
      <%= render 'images/show_small' -%>
    <% end %>

    <% if show_add_button %>
    	<form action='<%= new_image_path -%>' method='get'>
    		<input type='hidden' name='print_job_id' value='<%= @print_job.id -%>' />
    		<input type='submit' value='New Image' class='btn btn-default add-button' />
    	</form>
    <% end %>
  </div>
</div>