<%#
	edit print job
%>
<% content_for :heading do %>
	<h2>Edit Print Job for @job.ref -%></h2>
<% end -%>
<% content_for :form do %>
	<%= render 'form' -%>
	<%= render partial: 'tabs', locals: { show_add_button: true } -%>
<% end %>
