<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Invoice</h1>
    <p>
      Please find attached an invoice
    </p>
  </body>
</html>