<%#
  edit user
%>
<div class="page-header">
  <h2>Edit Login</h2>
</div>
<div class="row">
  <div id='padding' class="col-sm-2"></div>
  <div id='form' class='col-sm-8'>
    <%= bs_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.text_field :email, 'Email', nil, required: true, class: 'email' -%>
      <%= f.password_field :current_password, 'Current Password', nil, required: true -%>      
      <%= f.password_field :password, 'New Password', nil, required: true -%>      
      <%= f.password_field :password_confirmation, 'Confirm New Password', nil, required: true -%>
      <%= f.submit_well nil, '/', registration_path(resource_name), "Permanently delete '#{current_user.email}'!?" -%>
    <% end %>
  </div>
</div>