<%#
	distribute job multi form

	Required locals:
		form
		job
%>
<%
	companies_hash = {}
	Company.allByCompanyType(CompanyType::DISTRIBUTION_SUPPLIER).each {
		|company|
		if company.name != nil
			companies_hash[company.id] = company.name
		end
	}

	areas_hash = {}
	DistributeArea.allActive.each {
		|area|
		areas_hash[area.id] = area.name
	}

%>
<div id='dist-div'>
	<% if !job.distribute_job.empty? %>
		<%= render partial: 'distribute_jobs/sub_form', locals: { form: form, distribute_job: job.distribute_job, companies_hash: companies_hash, areas_hash: areas_hash } -%>
	<% end %>
</div>
<div class='btn-group btn-group-justified'>
	<div class="btn-group">
		<%= button_tag 'Add Distribution Job', id: 'add-dist-button', class: 'btn btn-default' -%>
	</div>
</div>

<script type="text/javascript">
	var currentIndex = <%= job.distribute_job.count - 1 -%>;
	var formTemplate = "<%= escape_javascript(render partial: 'distribute_jobs/sub_form', locals: { form: form, distribute_job: job.distribute_job.build, companies_hash: companies_hash, areas_hash: areas_hash }) -%>";

	function addDistForm() {
		currentIndex++;
		var indexedForm = formTemplate.replace(/\[0\]/g, '[' + currentIndex + ']')
		var newForm = $(indexedForm.replace(/_0_/g, '_' + currentIndex + '_'));

		newForm.hide();
		$('#dist-div').last().append(newForm);
		newForm.slideDown();

		newForm.find('button.close').click(function(e) {
		  removeDistForm($(e.target));
		});

		validateAllForms();	// function in validate.js
		partialLoadDropdowns(newForm);  // function in dropdown.js
		partialLoadDatePickers(newForm);  // function in datepicker.js

	}

	function removeDistForm(button) {
		var parentWell = button.parent();
		var destroyField = button.siblings('.destroy-field');

		if (destroyField) {
			destroyField.val(1);
		}

		parentWell.slideUp(function(e) {
			if (!destroyField.length) {
				parentWell.remove();
			}
		});
	}

	$(document).ready(function() {

		$('#add-dist-button').click(function(e) {
			addDistForm();
			broadcastCheckChanged();
			return false;
		});

		$("div.delivery-well > button.close").click(function(e) {
		  removeDistForm($(e.target));
		});

	});
</script>









