<%#
	distribute jobs show fields
%>
<%= display_basic 'Quantity', @distribute_job.quantity -%>
<%= display_basic 'Distribute Area', @distribute_job.distribute_area.summary unless @distribute_job.distribute_area.blank? -%>
<%= display_basic 'Supplier', @distribute_job.company.name unless @distribute_job.company.blank? -%>
<%= display_date 'Campaign Start', @distribute_job.campaign_start -%>
<%= display_date 'Campaign End', @distribute_job.campaign_end -%>
<%= display_money 'Distribution Quote', @distribute_job.quote_amount unless @job.is_package_deal -%>
<%= display_basic 'Notes', @distribute_job.notes -%>
