<%#
	distribute jobs show small
%>

<div class='panel panel-default'>
  <div class='panel-heading'>

    <%#= link_to @distribute_job do %>
      <h3 class='panel-title edit-heading'>
        <%= @distribute_job.name -%>
        <%= " - #{@distribute_job.company.name}" if @distribute_job.company != nil -%>
      </h3>
    <%# end %>
    <%= link_to [:edit, @distribute_job], class: "glyphicon glyphicon-pencil edit-heading" do -%><% end -%>

  </div>
  <div class='panel-body'>

    <% if !@job.is_package_deal %>
      <h5>
        <span class='name'>Quote Amount:</span>
        <%= @distribute_job.quote_str -%>
      </h5>
    <% end %>

    <h5>
      <span class='name'>Quantity:</span>
      <%= @distribute_job.quantity-%>
    </h5>

    <h5>
      <span class='name'>Description:</span>
      <%= @distribute_job.description -%>
    </h5>

    <h5>
      <span class='name'>Supplier:</span>
      <%= @distribute_job.company.name if @distribute_job.company != nil -%>
    </h5>

    <h5>
      <span class='name'>Area:</span>
      <%= @distribute_job.distribute_area.name if @distribute_job.distribute_area != nil -%>
    </h5>

    <% if @distribute_job.distribute_area %>
      <div class="row">
        <% @distribute_job.distribute_area.image.each do |image| %>
          <% if image.distribute_area_id == @distribute_job.distribute_area_id %>
            <div class="col-md-3">
              <a href="<%= image.file.url -%>" class="thumbnail">
                <img src='<%= image.file_url :thumb -%>'>
                <div class="caption">
                  <h5><%= image.description -%></h5>
                </div>
              </a>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class='panel-footer'>
    <div class="btn-group">
      <%= form_for :report, method: :get, url: new_report_path do |f| %>
        <button type='submit' class='btn btn-sm'>Job Sheet</button>
        <input type='hidden' name='distribute_job_id' value='<%= @distribute_job.id -%>' />
      <% end %>
    </div>
  </div>
</div>