<%#
	distribute job sub form

		Required locals:
			form (form or fields for)
			distribute_job
			companies_hash
			areas_hash
%>
<%= form.fields_for :distribute_job, distribute_job do |dist_fields| -%>
	<div class='well delivery-well'>
		<button type="button" class="close" aria-hidden="true">&times;</button>
		<% if !dist_fields.object.new_record? %>
			<%= dist_fields.hidden_field '_destroy', class: 'destroy-field', value: 0 -%>
		<% end %>
		<%= dist_fields.hidden_field :id -%>
		<h3 class='text-center'><small>Distribution Job</small></h3>
		<div id='first-well-row' class="row">
		  <div class="col-lg-6">
				<%= dist_fields.static_drop_down :distribute_area_id, 'Area', false, areas_hash, required: true -%>
			</div>
		  <div class="col-lg-6">
				<%= dist_fields.static_drop_down :company_id, 'Supplier', false, companies_hash -%>
			</div>
		</div>
		<div class="row">
		  <div class="col-lg-6">
		  	<%= dist_fields.date_picker :campaign_start, 'Start' -%>
			</div>
		  <div class="col-lg-6">
				<%= dist_fields.date_picker :campaign_end, 'End' -%>
			</div>
		</div>
		<div class="row">
		  <div class="col-lg-6">
		  	<%= dist_fields.text_area :notes, 'Notes' -%>
			</div>
		  <div class="col-lg-6">
				<%= dist_fields.text_field :quantity, 'Quantity', nil, class: 'number' -%>
		  	<div class='sub-quote-field'>
					<%= dist_fields.text_field :quote_amount, 'Quote', nil, class: 'number' -%>
				</div>
			</div>
		</div>
	</div>
<% end %>