<%#
	new distribute job
%>

<% content_for :heading do %>

	<% if @print_job != nil %>
		<h2>New Distribute Job for Print Job '<%= @print_job.name -%>'</h2>
	<% else %>
		<h2>New Distribute Job for Job '<%= @job.name -%>'</h2>
	<% end %>

<% end -%>

<% content_for :form do %>

	<%= render 'form' -%>

<% end %>