<%#
	person form
%>
<%
	if @person != nil
		delete_url = person_path(@person)
		delete_confirm = "Are you sure you want to permanently delete #{@person.first_name} #{@person.last_name}!?"
		form_url = person_path(@person)
		method = 'patch'
		
	else
		delete_url = nil
		delete_confirm = nil
		form_url = people_path
		method = 'post'
	end

%>
<%= bs_form_for :person, url: form_url, method: method, id: 'person-form' do |f| %>
	<%= f.text_field :role, 'Job Title' -%>
	<%= f.text_field :first_name, 'First Name', nil, required: true -%>
	<%= f.text_field :last_name, 'Last Name' -%>
	<%= f.text_field :phone, 'Phone' -%>
	<%= f.text_field :fax, 'Fax' -%>
	<%= f.text_field :email, 'Email', class: 'email' -%>
	<%= f.hidden_field :company_id, value: @company.id -%>
	<%= f.submit_well nil, companies_path, delete_url, delete_confirm -%>
<% end -%>