<%#
	people show small
%>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <%#= link_to @person %>
      <h3 class='panel-title edit-heading'><%= @person.summary -%></h3>
      <%= link_to [:edit, @person], class: "glyphicon glyphicon-pencil edit-heading" do -%><% end -%>
    <%# end %>
  </div>
  <div class='panel-body'>
    <h5><span class='name'>Phone:</span><%= @person.phone-%></h5>
    <h5><span class='name'>Fax:</span><%= @person.fax-%></h5>
    <h5><span class='name'>Email:</span><%= @person.email-%></h5>
  </div>
</div>
