<%#
	edit person
%>

<% content_for :heading do %>

	<h2>Edit Contact Person - <%= "#{@person.first_name} #{@person.last_name}" -%></h2>

<% end -%>

<% content_for :form do %>

	<%= render :partial => 'form', :locals => { show_delete_button: true } -%>

<% end %>