<%#
	new person
%>

<% content_for :heading do %>

	<h2>New Contact Person for <%= "#{@company.company_type} #{@company.name}" -%></h2>

<% end -%>


<% content_for :form do %>
	<%= render 'form' -%>
<% end %>


<% content_for :js do %>
	<script type="text/javascript">
		$(document).ready(function() {
			
    });
  </script>
<% end -%>