<%#
	invoice show small

  Reuqired locals:
    modal_id,
    is_accepted
%>
<div class='panel panel-default'>
  <div class='panel-heading'>

    <% if @invoice.is_quote %>
      <h3 class='panel-title edit-heading'>Quote<%= ' (accepted)' if is_accepted -%></h3>

    <% else %>
      <h3 class='panel-title edit-heading'>Invoice</h3>
    <% end %>    
  </div>

  <div class='panel-body'>
    <% quote = @invoice.is_quote ? @invoice : @invoice.invoice %>

    <%# Quote %>
    <h5>
      <span class='name'>Quote Date:</span>
      <%= quote.date.strftime('%d/%m/%y') -%>
    </h5>

    <h5>
      <span class='name'>Xero ID:</span>
      <%= quote.xero_id -%>
    </h5>

    <% if quote.pdf %>
      <h5>
        <span class='name'>Quote PDF:</span>
        <a href='<%= quote.pdf.url -%>' target='_blank'><%= quote.pdf_identifier -%></a>
      </h5>
    <% end %>

    <% if quote.invoice_email.count > 0 %>
      <% count = 1 %>
      <% quote.invoice_email.each do |email| %>
        <% if email.sent %>
          <h5><span class='name'>Email <%= count -%> Sent:</span><%= email.sent.strftime('%d/%m/%y') -%></h5>
          <% count += 1 %>
        <% end %>
      <% end %>
    
    <% else %>
      <h5><span class='name'>No email sent</span></h5>
    <% end %>


    <%# Invoice %>
    <%if !@invoice.is_quote %>
      <hr />

      <h5>
        <span class='name'>Invoice Date:</span>
        <%= @invoice.date.strftime('%d/%m/%y') -%>
      </h5>

      <% if @invoice.pdf %>
        <h5>
          <span class='name'>Invoice PDF:</span>
          <a href='<%= @invoice.pdf.url -%>' target='_blank'><%= @invoice.pdf_identifier -%></a>
        </h5>
      <% end %>

      <% if @invoice.invoice_email.count > 0 %>
        <% count = 1 %>
        <% @invoice.invoice_email.each do |email| %>
          <% if email.sent %>
            <h5><span class='name'>Email <%= count -%> Sent:</span><%= email.sent.strftime('%d/%m/%y') -%></h5>
            <% count += 1 %>
          <% end %>
        <% end %>
      
      <% else %>
        <h5><span class='name'>No email sent</span></h5>
      <% end %>

    <% end %>

  </div>

  <div class='panel-footer'>
    <%# is_deleteable = @invoice.deletable? %>

    <%# TODO %>
    <%# if is_deleteable %>
      <%# delete_button_text = @invoice.is_quote ? 'Delete Quote' : 'Delete Invoice and Quote' %>

      <!--div class="btn-group">            
        <%#= form_for :invoice, method: :delete, url: invoice_path(@invoice) do |f| %>
          <button class='btn btn-sm'><%#= delete_button_text -%></button>
        <%# end %>
      </div-->

    <%# end %>

    <div class="btn-group">            
      <%= form_for :invoice, method: :get, url: edit_invoice_path(@invoice) do |f| %>
        <button class='btn btn-sm' data-toggle='modal' data-target='#<%= modal_id -%>'>Create Invoice</button>
      <% end %>
    </div>

    <% send_button_text = @invoice.invoice_email.blank? ? 'Send ' : 'Resend ' %>
    <% send_button_text += @invoice.is_quote ? 'Quote' : 'Invoice' %>

    <div class="btn-group">
      <%= form_for :invoice, method: :get, url: new_invoice_email_path do |f| %>
        <button type='submit' class='btn btn-sm'><%= send_button_text -%></button>
        <input type='hidden' name='invoice_id' value='<%= @invoice.id -%>' />
      <% end %>
    </div>
  </div>
</div>
