<%# 
	invoice email form
%>
<%
	if !@email.new_record?
		form_url = invoice_email_path(@email)
		method = 'patch'

	else
		form_url = invoice_emails_path
		method = 'post'
	end

	@job = @invoice.job

	submit_text = @invoice.is_quote ? 'Send Quote' : 'Send Invoice'

	form_id = 'email-form'
	modal_id = 'loading-modal'

%>
<%= bs_form_for @email, url: form_url, method: method, id: form_id do |f| %>
	<% if @job.company %>
		<% if @job.company.email != nil && @job.company.email != '' %>
			<%= f.check_box :to_company, 'To Company', nil, @job.company.email -%>
		<% end %>
	<% end %>

	<% if @job.person %>
		<% if @job.person.email != nil && @job.person.email != '' %>
			<%= f.check_box :to_person, 'To Contact', nil, @job.person.email -%>
		<% end %>
	<% end %>

	<%= f.text_field :to_others, 'Other Addresses' -%>
	<%= f.text_field :cc, 'CC' -%>
	<%= f.text_field :bcc, 'BCC' -%>
	<%= f.text_field :subject, 'Subject' -%>
	<%= f.hidden_field :invoice_id, value: @invoice.id -%>
	<%= f.submit_well 'Send Email', jobs_path -%>
<% end -%>