<%#
	edit invoice email
%>

<% content_for :heading do %>

	<% if @invoice.is_quote %>
		<h2>Resend Quote for Job - <%= "#{@invoice.job.name}" -%></h2>

	<% else %>
		<h2>Resend Invoice for Job - <%= "#{@invoice.job.name}" -%></h2>
	<% end %>

<% end -%>

<% content_for :form do %>

	<%= render 'form' -%>

<% end %>