<%#
	job form
%>
<%
	if !@job.new_record?
		delete_url = job_path(@job)
		form_url = job_path(@job)
		method = 'patch'
		delete_confirm = "Are you sure you want to permanently delete job #{@job.ref} - #{@job.name}!?"

		status_hash = {}
		JobStatus::ALL_STATUSES.each {
			|status|
			status_hash[status] = status
		}

	else
		delete_url = nil
		delete_confirm = nil
		form_url = jobs_path
		method = 'post'
		invoiceModalId = 'loading-xero-modal'
	end

%>
<%= bs_form_for @job, url: form_url, method: method, id: 'job-form' do |f| %>
	<%= f.text_field :name, 'Job Name', nil, required: true, placeholder: 'i.e. Big Day Out 1999' -%>
	<%= 
		f.dynamic_drop_down :company_id, 'Client',
			group_id: 'client-dropdown',
			url: companies_path(format: :json),
			next_dropdown: 'contact-dropdown',
			value_name: 'id',
			load_first: true
	-%>
	<%= 
		f.dynamic_drop_down :person_id, 'Contact Person',
			group_id: 'contact-dropdown',
			url: people_path(format: :json),
			param_name: 'company_id',
			value_name: 'id',
			text_name: 'summary'
	-%>
	<%= f.static_drop_down(:status, 'Job Status', false, status_hash, required: true) if !@job.new_record? -%>
	<%= f.date_picker :request_received, 'Request Received', nil, required: true -%>
	<%= f.check_box :is_package_deal, 'Package Deal?', nil, '', :data => { 'show-on-check' => '#job-quote-field', 'hide-on-check' => '.sub-quote-field' } -%>

	<div id='job-quote-field'>
		<%= f.text_field :package_quote, 'Package Quote Amount', nil, class: 'number' -%>
	</div>

	<% if !@job.is_distribute_only %>
		<%= tag :hr, class: 'form-divider' -%>
		<%= render partial: 'print_jobs/sub_form', locals: { form: f, print_job: @job.print_job } -%>
	<% end %>
	
	<%= tag :hr, class: 'form-divider' -%>
	<%= render partial: 'distribute_jobs/multi_form', locals: { form: f, job: @job } -%>

	<%= f.hidden_field :is_distribute_only -%>
	<%= f.submit_well nil, root_path, delete_url, delete_confirm -%>
<% end -%>

<% if @job.new_record? %>
	<%= loading_modal('Loading', 'Saving Job and Talking to Xero', id: invoiceModalId) -%>

	<script type="text/javascript">
		$('form').submit(function () {
			if ($(this).valid()) {
				$('#<%= invoiceModalId -%>').modal('show'); 
			}
		});
	</script>

<% end %>
