<%#
  Required locals:
    modal_id
%>
<%
  quotes_hash = {}
  @job.quotes.each {
    |quote|
    quotes_hash[quote.id] = quote.summary
  }
%>
<div class='modal fade' id='<%= modal_id -%>' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
        <h4 class='modal-title'>Quote Accepted</h4>
      </div>
      <div class='modal-body'>
        <h3>Which Quote Was Accepted?</h3>

        <%= bs_form_for @job, url: job_path(@job), method: :patch, html: { id: 'accept-quote-form' } do |f| %>
          <%= f.static_drop_down :accepted_quote, 'Accepted Quote', false, quotes_hash, required: true, id: 'quote-dropdown' -%>
        <% end %>

      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
        <button id='save-quote-accepted' type='button' class='btn btn-primary'>Save</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $('#<%= modal_id -%>').on('show.modal.bs', function () {
    partialLoadDropdowns(this, true);
  });

  $('#save-quote-accepted').click(function () {
    console.log($('#accept-quote-form'));
    $('#accept-quote-form').submit();
  });

</script>
