<%#
	job show
%>
<%
  quote_accepted_modal_id = 'quote-accepted-modal';
%>
<div class='panel panel-default main-panel'>

  <div class='panel-heading'>
    <h3 class='panel-title edit-heading'><%= "#{@job.name} - #{@job.status}" -%></h3>
    <%= link_to [:edit, @job], class: "glyphicon glyphicon-pencil edit-heading" do -%><% end -%>
  </div>

  <div class='panel-body'>
    <%= display_basic 'Reference', @job.ref -%>
    <%= display_basic 'Client', @job.company.name unless @job.company.blank? -%>
    <%= display_basic 'Contact', @job.person.summary unless @job.person.blank? -%>    
    <%= display_date 'Job Request Date', @job.request_received -%>
    <%= display_money 'Package Quote', @job.package_quote if @job.is_package_deal -%>

    <% unless @job.is_distribute_only %>
      <hr>
      <% @print_job = @job.print_job %>
      <h4>Print Job</h4>
      <%= render partial: 'print_jobs/show_fields' -%>
    <% end %>

    <% @job.distribute_job.each_with_index do |dist_job, i| %>
      <% @distribute_job = dist_job %>
      <hr>
      <h4>Distribute Job <%= i + 1 if @job.distribute_job.count > 1 -%></h4>
      <%= render partial: 'distribute_jobs/show_fields' -%>
    <% end %>
  </div>

  <div class='panel-footer'>

    <% unless @job.accepted_quote || @job.quotes.empty? %>
      <div class="btn-group">
        <button id='quote-accepted-button' class='btn btn-sm'>Quote Accepted</button>
      </div>
    <% end %>

    <% unless @job.job_progress.blank? %>
      <%= form_for :report, method: :get, url: new_report_path, html: { class: 'inline-form' } do |f| %>
        <div class="btn-group">
          <button type='submit' class='btn btn-sm dropdown-toggle'>Progress Report</button>
          <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu text-center" role="menu">
            <li><a data-format='pdf' data-input='progress-format'>PDF</a></li>
            <li><a data-format='odt' data-input='progress-format'>ODT</a></li>
          </ul>          
          <input type='hidden' name='job_id' value='<%= @job.id -%>' />
          <input type='hidden' name='report_type' value='progress' />
          <input id='progress-format' type='hidden' name='format' value='pdf' />
        </div>
      <% end %>
    <% end %>

    <%= form_for :report, method: :get, url: new_report_path, html: { class: 'inline-form' } do |f| %>
      <div class="btn-group">
        <button type='submit' class='btn btn-sm dropdown-toggle'>Job Bag</button>
        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu text-center" role="menu">
          <li><a data-format='pdf' data-input='print-format'>PDF</a></li>
          <li><a data-format='odt' data-input='print-format'>ODT</a></li>
        </ul>
        <input type='hidden' name='job_id' value='<%= @job.id -%>' />
        <input type='hidden' name='report_type' value='job_bag' />
        <input id='print-format' type='hidden' name='format' value='pdf' />
      </div>
    <% end %>

  </div>
</div>

<br />

<%= render partial: 'tabs', locals: { show_add_button: true }  -%>

<% unless @job.quotes.empty? %>
  <%= render partial: 'quotes_modal', locals: { modal_id: quote_accepted_modal_id } -%>
<% end %>

<script type="text/javascript">
  $('document').ready (function() {

    // Handle report format dropdowns
    $('a[data-format]').click(function (clickEvent) {
      var link = $(clickEvent.currentTarget);
      var format = link.data('format');
      var inputField = $('#' + link.data('input'));

      inputField.val(format);

      console.log(format);
      console.log(inputField);

      inputField.parents('form').submit();

      // Set format back to default
      inputField.val('pdf');
    })

    // Handle quote accepted button click
    $('#quote-accepted-button').click(function () {
        $('#<%= quote_accepted_modal_id -%>').modal('show');
    });

  });
</script>
