<%#
	job tabs

  optional locals: show_add_button
%>
<%
  if defined?(show_add_button) ==nil
    show_add_button = false
  end
  
  invoiceModalId = 'invoice-modal'  
%>
<ul id='job-tabs' class='nav nav-tabs nav-justified'>
  <% unless @job.is_distribute_only %>
    <li><a data-toggle='tab' href='#colours-pane'>Colours</a></li>
    <li><a data-toggle='tab' href='#images-pane'>Print Images </a></li>
  <% end %>
  <li><a data-toggle='tab' href='#invoices-pane'>Quotes</a></li>
  <li><a data-toggle='tab' href='#progress-pane'>Progress </a></li>
</ul>

<br />
<br />

<div class="tab-content">

  <% unless @job.is_distribute_only %>
    <% @print_job = @job.print_job %>
    
    <div id='colours-pane' class='tab-pane fade'>
      <% @job.print_job.print_colour.each do |print_colour| %>
        <% @print_colour = print_colour %>
        <%= render 'print_colours/show_small' -%>
      <% end %>

      <% if show_add_button %>
        <form action='<%= new_print_colour_path -%>' method='get'>
          <input type='hidden' name='print_job_id' value='<%= @job.print_job.id -%>' />
          <input type='submit' value='New Colour' class='btn btn-default add-button' />
        </form>
      <% end %>
    </div>

    <div id='images-pane' class='tab-pane fade'>
      <% @job.print_job.image.each do |image| %>
        <% @image = image %>
        <%= render 'images/show_small' -%>
      <% end %>

      <% if show_add_button %>
        <form action='<%= new_image_path -%>' method='get'>
          <input type='hidden' name='print_job_id' value='<%= @job.print_job.id -%>' />
          <input type='submit' value='New Image' class='btn btn-default add-button' />
        </form>
      <% end %>
    </div>
  <% end %>

  <div id='invoices-pane' class='tab-pane fade'>
    <% @job.invoice.each do |invoice| %>

      <%# display only outgoing invoices that are either non-invoiced quotes, or invoices %>
      <% if !invoice.is_outgoing && (invoice.is_quote && invoice.quote_invoice == nil ) || !invoice.is_quote %>
        <% @invoice = invoice %>
        <% is_accepted = @job.accepted_quote == @invoice.id %>
        <%= render partial: 'invoices/show_small', locals: { modal_id: invoiceModalId, is_accepted: is_accepted } -%>
      <% end %>    
    <% end %>

    <% if show_add_button %>
      <form action='<%= new_invoice_path -%>' method='get' class='add-invoice-form'>
        <input type='hidden' name='job_id' value='<%= @job.id -%>' />
        <input type='hidden' name='is_outgoing' value='false' />
        <input type='hidden' name='is_quote' value='true' />
        <input type='submit' value='New Quote' class='btn btn-default add-button' data-toggle='modal' data-target='#<%= invoiceModalId -%>' />
      </form>
    <% end %>
  </div>

  <div id='progress-pane' class='tab-pane fade'>
    <% @job.job_progress.each do |job_progress| %>
      <% @job_progress = job_progress %>
      <%= render partial: 'job_progresses/show_small' -%>
    <% end %>

    <% if show_add_button %>
      <form action='<%= new_job_progress_path -%>' method='get'>
        <input type='hidden' name='job_id' value='<%= @job.id -%>' />
        <input type='submit' value='New Progress Item' class='btn btn-default add-button' />
      </form>
    <% end %>
  </div>
</div>

<%# select the first tab %>
<script type="text/javascript">
  $('#job-tabs a:first').tab('show');
</script>

<%= loading_modal('New Invoice Loading', 'Talking to Xero', id: invoiceModalId) if show_add_button -%>

