<%#
	edit job
%>
<% content_for :heading do %>
	<h2>Edit Job - <%= "#{@job.ref} - #{@job.name}" -%></h2>
<% end -%>
<% content_for :form do %>
	<%= render 'form' -%>
	<br />
	<%= render partial: 'tabs', locals: { show_add_button: true } -%>
<% end %>