<%#
  job index
%>

<%# object to get ID for JSON show in layouts/view %>
<% 
  @object = @job
%>

<% content_for :heading do %>
  <h2>Jobs</h2>
<% end %>

<% content_for :master_list do %>

  <div class="btn-group" style='width:100%'>
    <button id='completed-button' type="button" class="btn btn-default" style='width:33.33%' data-filter='completed'>Completed</button>
    <button id='all-button'  type="button" class="btn btn-default active" style='width:33.33%' data-filter='all'>All</button>
    <button id='in-progress-button'  type="button" class="btn btn-default" style='width:33.33%' data-filter='in_progress'>In Progress</button>
  </div>

  <br />
  <br />

	<% @jobs.each do |job| %>
    <% heading = job.ref %>
    <% heading << ' - ' << date_fmt(job.request_received) unless job.request_received.blank? %>
		<a id='<%=job.id%>' data-url='<%=url_for :controller => 'jobs', :action => 'show', :id => job.id, :format => 'string' %>' class="list-group-item text-center">
			<h4 class="list-group-item-heading"><%= heading -%></h4>
    	<p class="list-group-item-text"><%= job.name -%></p>
		</a>
	<% end -%>
<% end %>


<% content_for :after_master_list do %>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      New Job
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to "Print + Distribute", new_job_path(distribute_only: 0) -%></li>
      <li><%= link_to "Distribute Only", new_job_path(distribute_only: 1) -%></li>
    </ul>
  </div>
<% end %>

<% content_for :js_start do %>
  <script type="text/javascript">

    $(document).ready(function(e) {

      //Make appropriate filter button active
      var activeButtonId = 
      <% if @filter == 'completed' %>
        'completed-button';
      <% elsif @filter == 'in_progress' %>
        'in-progress-button';
      <% else %>
        'all-button';
      <% end %>
      $('button[data-filter]').removeClass('active')
      $('#' + activeButtonId).addClass('active')

      //Handle filter buttons click
      $('button[data-filter]').click(function(e) {

        $('button[data-filter]').removeClass('active')
        $(e.target).addClass('active')

        var href = '<%= jobs_path -%>' + '?filter=' + $(e.target).attr('data-filter');
        window.location = href;
      });

    });

  </script>
<% end %>