<%#
	new job
%>
<% content_for :heading do %>
	<% if @distribute_only %>
		<h2>New Distribute-Only Job</h2>
	<% else %>
		<h2>New Print and Distribute Job</h2>
	<% end -%>
<% end -%>
<% content_for :form do %>
	<%= render 'form' -%>
<% end %>