<%#
  jobs overview
%>
<div class='page-header'>
  <h2>Overview</h2>
</div>
<div class='row'>
  <div class='col-sm-1'></div>
  <div id='detail' class='col-sm-10'>
    <table id='overview-table' class='table table-striped' cellspacing='0' width='100%'>
      <thead>
        <tr>
          <th>Reference</th>
          <th>Name</th>
          <th>Request Received</th>
          <th>Printing Due</th>
          <th>Status</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class='col-sm-1'></div>
</div>


<script type='text/javascript'>

  function formatDate(date) {
    var str = date.getDay() + '/';
    str += (date.getMonth() + 1) + '/';
    str += date.getFullYear();
    return str;
  }

  $('document').ready(function () {

    var url = '<%= jobs_path format: 'json' -%>';

    $('#overview-table').dataTable({
      'ajax': {
        'url': url,
        'dataSrc': ''
      },
      'columns': [
        { 'data': 'ref' },
        { 'data': 'name' },
        { 'data': 'request_received'},
        { 'data': 'print_job' },
        { 'data': 'status' }
      ],
      'columnDefs': [
        {
          'render': function (data, type, row) {
            return formatDate(new Date(data));
          },
          'targets': 2
        },
        { 
          'render': function (data, type, row) {
            var rendered;

            if (data) {
              if (data.date_due) {
                rendered = formatDate(new Date(data.date_due));                
              }
              else {
                rendered = '-';
              }              
            }
            else {
              rendered = '<em>no printing</em>';
            }            

            return rendered;
          },
          'targets': 3
        }
      ]
    });

  });
</script>
