<%#
	new user
%>
<div class="page-header">
  <h2>Add New User</h2>
</div>
<div class="row">
  <div id='padding' class="col-sm-2"></div>
  <div id='form' class='col-sm-8'>
    <%= bs_form_for :user, url: users_path do |f| %>
    	<%= f.text_field :email, 'Email', nil, required: true, class: 'email' -%>
			<%= f.password_field :password, 'Password', nil, required: true -%>
			<%= f.password_field :password_confirmation, 'Confirm Password', nil, required: true -%>
			<%= f.check_box :admin, 'Grant Admin Rights?' -%>
			<%= f.submit_well nil, root_path -%>
		<% end %>
  </div>
</div>