<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Job Bag</h1>
    <p>
      Please find attached a job bag
    </p>
  </body>
</html>