<%#
	company form
%>
<%
	if @company != nil
		delete_url = company_path(@company)
		form_url = company_path(@company)
		method = 'patch'
		delete_confirm = "Are you sure you want to permanently delete #{@company.company_type} #{@company.name}!?"		

	else
		delete_url = nil
		delete_confirm = nil
		form_url = companies_path
		method = 'post'
	end

	company_types_hash = {}
	@company_types.each {|type| company_types_hash[type] = type }

%>
<%= bs_form_for :company, url: form_url, method: method do |f| -%>
	<%= f.text_field :name, 'Company Name', nil, required: true -%>
	<%= f.static_drop_down :company_type, 'Company Type', false, company_types_hash, required: true -%>
	<%= f.text_field :abn, 'ABN' -%>
	<%= f.text_field :phone, 'Phone' -%>
	<%= f.text_field :fax, 'Fax' -%>
	<%= f.text_field :email, 'Email', nil, class: 'email' -%>
	<%= f.submit_well nil, companies_path, delete_url, delete_confirm -%>
<% end %>