
<%#
	company show
%>

<div class='panel panel-default main-panel'>

  <div class='panel-heading'>
    <h3 class='panel-title edit-heading'><%= "#{@company.name} - #{@company.company_type}" -%></h3>
    <%= link_to [:edit, @company], class: "glyphicon glyphicon-pencil edit-heading" do -%><% end -%>
  </div>

  <div class='panel-body'>

    <%= display_basic 'ABN', @company.abn -%>
    <h5><span class='name'>Phone:</span><%= @company.phone -%></h5>
    <h5><span class='name'>Fax:</span><%= @company.fax -%></h5>
    <h5><span class='name'>Email:</span><%= @company.email -%></h5>

  </div>
</div>

<br />

<%= render partial: 'tabs', locals: { show_add_button: true }  -%>