
<%#
	companies show small
%>

<div class='panel panel-default'>
  <div class='panel-heading'>

    <%#= link_to @company do %>
      <h3 class='panel-title edit-heading'><%= "#{@company.name} - #{@company.company_type}" -%></h3>
    <%# end %>
    <%= link_to [:edit, @company], class: "glyphicon glyphicon-pencil edit-heading" do -%><% end -%>

  </div>
  <div class='panel-body'>

    <%# contacts %>
    <% if @company.person != nil %>
      <% count = 0 %>
      <% @company.person.each do |person| %>
        <% count += 1 %>

        <%#= link_to person do %>
          <h5>
            <span class='name'>Contact Person <%= count -%>:</span><%= "#{person.role} - " if person.role != nil && person.role != ''  -%><%= "#{person.first_name} #{person.last_name}" -%>
          </h5>
        <%# end %>

      <% end -%>
    <% end %>

    <h5><span class='name'>Phone:</span><%= @company.phone -%></h5>
    <h5><span class='name'>Fax:</span><%= @company.fax -%></h5>
    <h5><span class='name'>Email:</span><%= @company.email -%></h5>

    <%# address %>
  	<% if @company.address != nil %>
	    	<h5><span class='name'>Address:</span><%= @company.address.address_str-%></h5>
  	<% end %>

  </div>
</div>