<%#
	company tabs

	optional locals: show_add_button
%>

<%
	if defined?(show_add_button) ==nil
		show_add_button = false
	end
%>

<ul class='nav nav-tabs nav-justified'>
  <li class='active'><a data-toggle='tab' href='#people-pane'>Contact People </a></li>
  <li><a data-toggle='tab' href='#address-pane'>Address </a></li>
</ul>

<br />
<br />

<div class="tab-content">

  <div id='people-pane' class='tab-pane fade in active'>

    <% if @company.person != nil %>
      <% @company.person.each do |person| %>
        <% if person.active %>
          <% @person = person %>
          <%= render partial: 'people/show_small' -%>
        <% end %>
      <% end %>
    <% end %>

    <% if show_add_button %>
    	<form action='<%= new_person_path -%>' method='get'>
    		<input type='hidden' name='company_id' value='<%= @company.id -%>' />
    		<input type='submit' value='New Person' class='btn btn-default add-button' />
    	</form>
    <% end %>

  </div>

  <div id='address-pane' class='tab-pane fade'>

    <% puts @company.methods %>

    <% if @company.address != nil %>
      <% @address = @company.address %>
      <%= render partial: 'addresses/show_small' -%>

    <% elsif show_add_button %>
      <form action='<%= new_address_path -%>' method='get'>
        <input type='hidden' name='company_id' value='<%= @company.id -%>' />
        <input type='submit' value='Set Address' class='btn btn-default add-button' />
      </form>
    <% end %>
  </div>

</div>