<%#
  company index
%>
<%# object to get ID for JSON show in layouts/view %>
<% @object = @company %>

<% content_for :heading do %>
  <h2>Companies</h2>
<% end %>

<% content_for :master_list do %>

  <div id='type-button-group' class="btn-group btn-group-justified">
    <%= link_to 'Clients', companies_path(company_type: CompanyType::CLIENT), id: 'clients-button', class: 'btn btn-default' -%>
    <%= link_to 'Printers', companies_path(company_type: CompanyType::PRINT_SUPPLIER), id: 'printers-button', class: 'btn btn-default' -%>
    <%= link_to 'Distributors', companies_path(company_type: CompanyType::DISTRIBUTION_SUPPLIER), id: 'distributors-button', class: 'btn btn-default' -%>
  </div>

  <br />
  <br />

  <% @companies.each do |company| %>
    <a id='<%=company.id%>' data-url='<%=url_for :controller => 'companies', :action => 'show', :id => company.id, :format => 'string' %>' class="list-group-item">
      <h4 class="list-group-item-heading"><%= company.name -%></h4>
      <p class="list-group-item-text"></p>
    </a>
  <% end -%>
<% end %>


<% content_for :after_master_list do %>
  <form id='add-company-form' action='<%= new_company_path -%>'method='get'>
    <button id='add-company-button' type='submit' class='btn btn-default'>Add Company</button>
    <input id='company_type' name='company_type' type='hidden' value='' />
  </form>
<% end %>

<% content_for :js_start do %>
  <script type="text/javascript">

    $(document).ready(function(e) {

      //Make appropriate filter button active
      var activeButtonId = 
      <% if @company_type == CompanyType::PRINT_SUPPLIER %>
        'printers-button';
      <% elsif @company_type == CompanyType::DISTRIBUTION_SUPPLIER %>
        'distributors-button';
      <% else %>
        'clients-button';
      <% end %>
      $('button[data-filter]').removeClass('active')
      $('#' + activeButtonId).addClass('active')

      //Set selected company type for new company
      $('#add-company-form').submit(function(e) {
        var companyType = $('#type-button-group').find('button.active').attr('data-filter');
        $('#company_type').val(companyType);
      });

    });

  </script>
<% end %>
