<%#
	user sign in
%>

<div class="page-header">
  <h2>Log In</h2>
</div>
<div class="row">
  <div id='padding' class="col-sm-2"></div>
  <div id='form' class='col-sm-8'>
    <%= bs_form_for :user, url: session_path(resource_name) do |f| %>
    	<%= f.text_field :email, 'Email', nil, required: true, class: 'email' -%>
			<%= f.password_field :password, 'Password', nil, required: true -%>
			<%= f.check_box :remember_me, 'Remember Me?' -%>
		  <div id="hpo">
				<input type="text" name="username" value="" />
			</div>
			<br />
			<div id='recap'>
				<%= recaptcha_tags ajax: true, display: { theme: 'clean' } -%>
			</div>
			<br />
			<br />
			<br />
			<br />
			<br />
		  <%= f.submit_well 'Login' -%>		
		<% end %>
  </div>
</div>