<%# 
	address form
%>
<%
	if @address != nil
		delete_url = address_path(@address)
		form_url = address_path(@address)
		method = 'patch'

		if @company != nil
			delete_confirm = "Are you sure you want to permanently delete address for #{@company.company_type} #{@company.name}!?"

		elsif @delivery_location != nil
			delete_confirm = "Are you sure you want to permanently delete address for delivery location #{@delivery_location.name}!?"
		end

	else
		delete_url = nil
		delete_confirm = nil
		form_url = addresses_path
		method = 'post'
	end
%>
<%= bs_form_for :address, url: form_url, method: method do |f| %>
	<%= f.text_field :line1, 'Address Line 1', nil, required: true -%>
	<%= f.text_field :line2, 'Address Line 2' -%>
	<%= 
		f.dynamic_drop_down :town_name, 'Town',
			group_id: 'towns-dropdown',
			url: towns_path(format: :json),
			param_name: 'state_name',
			next_dropdown: 'postcodes-dropdown',
			allow_typing: true,
			first_value: @defaultTown,
			required: true
	-%>
	<%= 
		f.dynamic_drop_down :state_name, 'State',
			group_id: 'states-dropdown',
			url: states_path(format: :json),
			param_name: 'country_name',
			next_dropdown: 'towns-dropdown',
			allow_typing: true,
			first_value: @defaultState,
			required: true
	-%>
	<%= 
		f.dynamic_drop_down :postcode_postcode, 'Postcode',
			group_id: 'postcodes-dropdown',
			url: postcodes_path(format: :json),
			param_name: 'town_name',
			value_name: 'postcode',
			text_name: 'postcode',
			allow_typing: true,
			first_value: @defaultPostcode 
	-%>
	<%= 
		f.dynamic_drop_down :country_name, 'Country',
			url: countries_path(format: :json),
			load_first: true, 
			next_dropdown: 'states-dropdown', 
			first_value: @defaultCountry,
			required: true
	-%>

	<% if @company != nil %>
		<%= f.hidden_field :company_id, value: @company.id -%>

	<% elsif @delivery_location != nil %>
		<%= f.hidden_field :delivery_location_id, value: @delivery_location.id -%>
	<% end %>

	<%= f.submit_well nil, '/', delete_url, delete_confirm -%>
<% end -%>