<%#
	addresses show small
%>
<div class='panel panel-default'>
  <div class='panel-heading'>

    <%#= link_to @address do %>
      <h3 class='panel-title edit-heading'><%= @address.town_name -%></h3>
    <%# end %>
    <%= link_to [:edit, @address], class: "glyphicon glyphicon-pencil edit-heading" do -%><% end -%>

  </div>
  <div class='panel-body'>
    
    <h5><span class='name'>Line 1:</span>
      <%= "#{@address.line1}" -%>
    </h5>

    <h5><span class='name'>Line 2:</span>
      <%= "#{@address.line2}" -%>
    </h5>

    <h5><span class='name'>Town:</span>
      <%= "#{@address.town_name}" -%>
    </h5>

    <h5><span class='name'>State:</span>
      <%= "#{@address.state_name}" -%>
    </h5>

    <h5><span class='name'>Postcode:</span>
      <%= "#{@address.postcode_postcode}" -%>
    </h5>    

    <h5><span class='name'>Country:</span>
      <%= "#{@address.country_name}" -%>
    </h5>

  </div>
</div>