<%#
	edit address
%>

<% content_for :heading do %>

	<% if @person != nil %>
		<h2>Edit Address for <%= "Delivery Location #{@delivery_location.name}" -%></h2>

	<% elsif @company != nil %>
		<h2>Edit Address for <%= "#{@company.company_type} #{@company.name}" -%></h2>
	<% end %>

<% end -%>

<% content_for :form do %>

	<%= render :partial => 'form', :locals => { show_delete_button: true } -%>

<% end %>