<%#
	new address
%>

<% content_for :heading do %>

	<% if @delivery_location != nil %>
		<h2>New Address for <%= "delivery location #{@delivery_location.name}" -%></h2>

	<% elsif @company != nil %>
		<h2>New Address for <%= "#{@company.company_type} #{@company.name}" -%></h2>
	<% end %>

<% end -%>

<% content_for :form do %>
	<%= render 'form' -%>
<% end %>


<% content_for :js do %>
	<script type="text/javascript">
		$(document).ready(function() {

    });
  </script>
<% end -%>