<%# 
	print colours form
%>
<%
	if @print_colour != nil
		delete_url = print_colour_path(@print_colour)
		form_url = print_colour_path(@print_colour)
		method = 'patch'
		delete_confirm = "Are you sure you want to permanently delete colour #{@print_colour.summary}!?"

	else
		delete_url = nil
		delete_confirm = nil
		form_url = print_colours_path
		method = 'post'
	end

%>
<%= bs_form_for :print_colour, url: form_url, method: method do |f| %>
	<%= f.text_field :c, 'C%', nil, required: true, class: 'number' -%>
	<%= f.text_field :m, 'M%', nil, required: true, class: 'number' -%>
	<%= f.text_field :y, 'Y%', nil, required: true, class: 'number' -%>
	<%= f.text_field :k, 'K%', nil, required: true, class: 'number' -%>
	<%= f.hidden_field :print_job_id, value: @print_job.id -%>
	<%= f.submit_well nil, print_job_path(@print_job.id), delete_url, delete_confirm -%>
<% end -%>