
<%#
	print colours show small
%>

<div class='panel panel-default'>
  <div class='panel-heading'>

    <h3 class='panel-title edit-heading'><%= "#{@print_colour.summary}" -%></h3>
    <%= link_to [:edit, @print_colour], class: "glyphicon glyphicon-pencil edit-heading" do -%><% end -%>
    
  </div>
  <div class='panel-body'>

    <div class="thumbnail">
      <div class="print-colour" style="background-color: <%= @print_colour.css_rgb -%>;"></div>
    </div>

  </div>
</div>