<%#
	edit print colours
%>
<% content_for :heading do %>
	<h2>Edit Colour - <%= "#{@print_colour.summary} for job #{@print_colour.print_job.job.ref}" -%></h2>
<% end -%>
<% content_for :form do %>
	<%= render 'form' -%>
<% end %>
