<%# 
	delivery location form 
%>
<%
	if @delivery_location != nil
		delete_url = delivery_location_path(@delivery_location)
		form_url = delivery_location_path(@delivery_location)
		method = 'patch'

		delete_confirm = "Are you sure you want to permanently delete delivery location #{@delivery_location.name}!?"

	else
		delete_url = nil
		delete_confirm = nil
		form_url = delivery_locations_path
		method = 'post'
	end
%>
<%= bs_form_for :delivery_location, url: form_url, method: method do |f| %>
	<%= f.text_field :name, 'Location Name', nil, required: true -%>
	<%= f.text_field :description, 'Description' -%>
	<%= f.submit_well nil, delivery_locations_path, delete_url, delete_confirm -%>
<% end -%>