
<%#
	delivery locations show
%>

<div class='panel panel-default main-panel'>
  <div class='panel-heading'>

    <h3 class='panel-title edit-heading'><%= "#{@delivery_location.name}" -%></h3>
    <%= link_to [:edit, @delivery_location], class: "glyphicon glyphicon-pencil edit-heading" do -%><% end -%>

  </div>
  <div class='panel-body'>

  	<h5><span class='name'>Description:</span><%= @delivery_location.description -%></h5>

  </div>
</div>

<br />

<%= render partial: 'tabs', locals: { show_add_button: true }  -%>