<%#
	delivery location tabs

	optional locals: show_add_button
%>

<%
	if defined?(show_add_button) ==nil
		show_add_button = false
	end
%>

<ul class='nav nav-tabs nav-justified'>
  <li class='active'><a data-toggle='tab' href='#address-pane'>Address </a></li>
</ul>

<br />

<div class="tab-content">

  <div id='address-pane' class='tab-pane fade in active'>

    <% if @delivery_location.address != nil %>
      <% @address = @delivery_location.address %>
      <%= render 'addresses/show_small' -%>
    <% end %>

    <% if !@delivery_location.address && show_add_button %>
      <form action='<%= new_address_path -%>' method='get'>
        <input type='hidden' name='delivery_location_id' value='<%= @delivery_location.id -%>' />
        <input type='submit' value='Set Address' class='btn btn-default add-button' />
      </form>
    <% end %>

  </div>

</div>