

<%#
  delivery locations index
%>

<%# object to get ID for JSON show in layouts/view %>
<% @object = @delivery_location %>

<% content_for :heading do %>

  <h2>Delivery Locations</h2>

<% end %>

<% content_for :master_list do %>

  <% @delivery_locations.each do |location| %>
    <a id='<%=location.id%>' data-url='<%=url_for :controller => 'delivery_locations', :action => 'show', :id => location.id, :format => 'string' %>' class="list-group-item">
      <h4 class="list-group-item-heading"><%= location.name -%></h4>
      <p class="list-group-item-text"></p>
    </a>
  <% end -%>
<% end %>


<% content_for :after_master_list do %>
  <%= button_to new_delivery_location_path, :class => 'btn btn-default', :method => 'get' do -%>
    Add Location
  <% end -%>

<% end %>