<%#
	job progress form
%>
<%
	if @job_progress != nil
		delete_url = job_progress_path(@job_progress)
		form_url = job_progress_path(@job_progress)
		method = 'patch'
		delete_confirm = "Are you sure you want to permanently delete progress item #{@job_progress.summary}!?"

		@job = @job_progress.job

	else
		delete_url = nil
		delete_confirm = nil
		form_url = job_progresses_path
		method = 'post'
	end
	
%>
<%= bs_form_for :job_progress, url: form_url, method: method do |f| %>
	<%= f.text_field :description, 'Description', nil, required: true -%>
	<%= f.date_picker :date, 'Date', nil, required: true -%>
	<%= f.hidden_field :job_id, value: @job.id -%>
	<%= f.submit_well nil, job_path(@job), delete_url, delete_confirm -%>
<% end -%>