<%#
	job progress show small
%>

<div class='panel panel-default'>
  <div class='panel-heading'>
    
    <%#= link_to @job_progress do %>
      <h3 class='panel-title edit-heading'>
        <%= date_fmt @job_progress.date -%>
      </h3>
    <%# end %>

    <%= link_to [:edit, @job_progress], class: "glyphicon glyphicon-pencil edit-heading" do -%><% end -%>
  </div>

  <div class='panel-body'>

    <h5>
      <span class='name'>Description:</span>
      <%= @job_progress.description -%>
    </h5>

    <br />

    <% if @job_progress.image != nil %>
      <div class="row">
        <% @job_progress.image.each do |image| %>
          <div class="col-xs-3 col-md-3">
            <a href="<%= image.file.url -%>" class="thumbnail" target='_blank'>
              <img src='<%= image.file_url :thumb -%>'>
              <div class="caption text-center">
                <h5><%= image.description -%></h5>
              </div>
            </a>
          </div>
        <% end %>      
      </div>

    <% else %>
      <h5>
        <span class='name'>Images:</span>
      </h5>
    <% end %>

  </div>
</div>