<%#
	edit job progress
%>
<% content_for :heading do %>
	<h2>Edit Progress Item - <%= @job_progress.summary -%></h2>
<% end -%>
<% content_for :form do %>
	<%= render 'form' -%>
	<br />
	<%= render partial: 'tabs', locals: { show_add_button: true } -%>
<% end %>
