/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require dataTables.bootstrap
 *= require_tree .
 */

div.page-header {
  margin-bottom: 35px;
}

div.page-header > h1,
div.page-header > h2,
div.page-header > h3,
div.page-header > h4,
div.page-header > h5,
div.page-header > h6 {
  font-size: 1.8em;
  padding-left: 3.5%;
}

a.list-group-item, .nav li, ul.dropdown-menu li {
  cursor: pointer;
}

span.form-label, button.form-label {
  min-width: 180px;
  text-align: right;
  padding-bottom: 7px;
}

span.form-label {  
  padding-top: 10px;
}

div.check-div {
  padding-left: 15px;
}

.checkbox-group .check-div label::after {
  padding-right: 530px;
}

input[disabled].form-control, input[readonly].form-control {
  cursor: default;
  background-color: #fff;
}

input[readonly].form-control {
  cursor: default;
}

.edit-heading {
  display: inline;
}

a.edit-heading {
  display: inline;
  float: right;
}

input.add-button {
  margin-left: 10px;
}

form.inline-form {
  display: inline;
}

body[role='document'] {
  margin-bottom: 60px;
}

div.print-colour {
  min-height: 50px;
  margin: 20px;
  border-radius: 10px;
}

div.panel-heading {
  padding-left: 34px;
}

div.panel-body {
  padding: 10px 35px 10px 35px;
}

div.panel-body h5 {  
  line-height: 140%;
}

div.panel-body h5.multi {
  line-height: 120%;
}

div.panel-body h5 a {
  font-weight: normal;
}

div.panel-body h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

div.input-group {
  margin-top: 25px;
}

div.dropdown-group > input.form-control {
  height: 34.6px;
}

div.input-group-btn button {
  background: #eee;
  color: #555;
}

button.btn-sm {
  background: #fff;
  border: 1px solid #ddd;
}

div.panel-footer {
  text-align: right;
}

h5 span.name {
  color: rgb(30, 30, 30);
  font-size: 0.95em;
  margin-right: 8px;
  font-weight: bold;
}

.nav.nav-tabs {
  white-space: nowrap;
  overflow: visible;
}

div.modal-body.email-preview div.well {
  padding-left: 50px;
  padding-top: 25px;
}

div.modal-body.email-preview ul {
  list-style: none;
  padding-left: 0;
}

div.modal-body.email-preview table tr td,
div.modal-body.email-preview table tr td h5 {
  vertical-align: top;
  margin-top: 2.5px;
}

div.modal-body.email-preview table tr td h5 {
  text-align: right;
}

div.email-body {
  padding: 20px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
  margin-bottom: 20px;
  overflow: auto;
  max-height: 120px;
}

iframe.attachment {
  width: 100%;
  min-height: 100px;
  border: 1px solid rgb(200, 200, 200);
}

div.modal {
  bottom: 10px;
}

div.alert.alert-success {
  padding-left:42px;
  position: fixed;
  width: 60%;
  left: 20%;
  right:20%;
  z-index: 99999;
}

div.alert li {
  list-style: none;
}

div#error_explanation > h2 {
  font-size: 1.1em;
}

.popover-content > .invalid {
  white-space: nowrap;
}

/* hunny port */
div#hpo {
  display: none;
}

div#recap {
  float: right;
}

div#login-submit-well {
  margin-top: 130px;
}

div.submit-well {
  margin-top: 32px;
}

div.submit-well > .btn {
  margin-left: 6px;
  padding: 5px 20px 5px 20px;
}

div.delivery-well > h3 {
  margin: 0;
}

div.delivery-well .form-label {
  min-width: 70px;
}

div.delivery-well #first-well-row div.input-group {
  margin-top: 20px;
}

div.delivery-well textarea.form-control {
  height: 93px;
}

hr.form-divider {
  border-top: 2px dashed #eee;
}

div.main-panel > div.panel-footer {
  min-height: 25px;
}

div.input-group > div.check-div > label {
  font-weight: normal;
}

#overview-table_filter input {
  margin-left: 8px;
}

#overview-table_length select {
  margin-right: 5px;
}

#overview-table > tbody td {
  padding-left: 19px;
  padding-right: 19px;
}


 /*****************************************************************
  * Checkbox adapted from http://codepen.io/CreativeJuiz/pen/BiHzp
  *****************************************************************/

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: -8px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: -11px; left: 2px;
  font-size: 16px;
  color: #428bca;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

