<%# 
	job bag email form
%>
<%
	form_url = job_bag_emails_path(preview: true)
	method = 'post'

	form_id = 'email-form'
	modal_id = 'loading-modal'

	subjobs_missing_emails = @email.job.sub_jobs_missing_emails
%>
<%= bs_form_for @email, url: form_url, method: method, id: form_id do |f| %>
	<% unless subjobs_missing_emails.empty? %>
		<h4>Warning: Print / distribution jobs without a supplier email address:</h4>
		<ul>
			<% subjobs_missing_emails.each do |subjob| %>
				<li><%= subjob.is_a?(PrintJob) ? 'Print Job' : subjob.summary -%></li>
			<% end %>
		</ul>
	<% end %>
	<%= f.text_field :to, 'To', nil, required: true -%>
	<%= f.text_field :cc, 'CC' -%>
	<%= f.text_field :bcc, 'BCC' -%>
	<%= f.text_field :subject, 'Subject' -%>
	<%= f.hidden_field :id -%>
	<%= f.submit_well 'Send Email', jobs_path -%>
<% end -%>