<%#
  preview job bag email
%>

<% content_for :form do %>

  <div class="modal fade in" style='display: block;' id='new-email-modal' data-backdrop='static' data-keyboard='false'>
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Send Email?</h4>
        </div>

        <div class="modal-body email-preview">

          <div class="well well-md">
            <table>

              <tr>
                <td><h5><span class='name'>To:</span></h5></td>
                <td>
                  <ul>
                    <% @email.to_array.each do |to| %>
                      <li><%= to -%></li>
                    <% end %>
                  </ul>
                </td>
              </tr>

              <tr>
                <td><h5><span class='name'>CC:</span></h5></td>
                <td>
                  <ul>
                    <% @email.cc_array.each do |cc| %>
                      <li><%= cc -%></li>
                    <% end %>
                  </ul>
                </td>
              </tr>

              <tr>
                <td><h5><span class='name'>BCC:</span></h5></td>
                <td>
                  <ul>
                    <% @email.bcc_array.each do |bcc| %>
                      <li><%= bcc -%></li>
                    <% end %>
                  </ul>
                </td>
              </tr>

              <tr>
                <td><h5><span class='name'>Subject:</span></h5></td>
                <td><%= @email.subject -%></td>
              </tr>

            </table>
          </div>
          
          <div class='email-body'>
            <%= render :file => 'job_bag_mailer/job_bag_email.html.erb' %>
          </div>

          <table>
            <tr>
              <td><h5><span class='name'>Attachment:</span></h5></td>
              <td>
                <a href='<%= @email.job_bag.url -%>' target='_blank'><%= @email.job_bag_identifier -%></a>
              </td>
            </tr> 
          </table>

          <iframe class='attachment' frameborder="0" border="0" src="<%= @extracted_file_url -%>"></iframe>

        </div>

        <div class="modal-footer">

          <div class="btn-group">            
            <%= form_for :job, method: :get, url: jobs_path(@email.job_id) do |f| %>
              <button id='cancel-button' class='btn btn-default'>Cancel</button>
            <% end %>
          </div>

          <div class="btn-group">
            <%= form_for :job_bag_email, url: job_bag_emails_path do |f| %>
              <button id='send-button' type='submit' class='btn btn-primary'>Send Email</button>
              <%= f.hidden_field :id, value: @email.id -%>
            <% end %>
          </div>

        </div>

      </div>
    </div>
  </div>


  <script type="text/javascript">
    $(document).ready(function(e) {    

      //Disable buttons on submit click, and complete submit
      $('#send-button').click(function(e) {
        $(e.target).attr('disabled', 'disabled');
        $('#cancel-button').attr('disabled', 'disabled');

        $(e.target).parent('form')[0].submit();
      });

    });
  </script>

<% end %>