<%# 
	image form
%>
<%
	if @image != nil
		delete_url = image_path(@image)
		form_url = image_path(@image)
		method = 'patch'
		delete_confirm = "Are you sure you want to permanently delete the image '#{@image.file_identifier}'!?"

	else
		delete_url = nil
		form_url = images_path
		method = 'post'
		delete_confirm = nil
	end

%>
<%= bs_form_for :image, url: form_url, method: method, builder: ApplicationHelper::BSFormBuilder do |f| %>
	<%= f.text_field :description, 'Image Description' -%>
	<%= f.file_field :file, 'Upload Image', nil, required: true -%>

	<% if @job_progress != nil %>
		<%= f.hidden_field :job_progress_id, value: @job_progress.id -%>

	<% elsif @print_job != nil %>
		<%= f.hidden_field :print_job_id, value: @print_job.id -%>

	<% elsif @distribute_area != nil %>
		<%= f.hidden_field :distribute_area_id, value: @distribute_area.id -%>
	<% end %>

	<%= f.submit_well nil, '/', delete_url, delete_confirm -%>
<% end -%>