<%#
	images show small
%>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3 class='panel-title edit-heading'><%= @image.file_identifier -%><%= " - #{@image.description}" if !@image.description.blank? -%></h3>
    <%= link_to [:edit, @image], class: "glyphicon glyphicon-pencil edit-heading" do -%><% end -%>
  </div>  
  <div class='panel-body'>
    <%= display_image @image, :show -%>
  </div>
</div>
