<%#
	edit images
%>

<% content_for :heading do %>

	<% if @image.job_progress != nil %>
		<h2>Edit Image for Progress Item - <%= "#{@image.job_progress.description}" -%></h2>

	<% elsif @image.print_job != nil %>
		<h2>Edit Image for Print Job - <%= "#{@image.print_job.job.ref}" -%></h2>

	<% elsif @image.distribute_area != nil %>
		<h2>Edit Image for Distribution Area - <%= "#{@image.distribute_area.name}" -%></h2>
	<% end %>

<% end -%>

<% content_for :form do %>

	<%= render 'form' -%>

<% end %>