<%#
	new image
%>
<% content_for :heading do %>
	<% if @job_progress != nil %>
		<h2>New Image for Progress Item - <%= "#{@job_progress.description}" -%></h2>
	<% elsif @print_job != nil %>
		<h2>New Image for Print Job</h2>
	<% elsif @distribute_area != nil %>
		<h2>New Image for Distribution Area - <%= "#{@distribute_area.name}" -%></h2>
	<% end %>
<% end -%>
<% content_for :form do %>
	<%= render 'form' -%>
<% end %>
