<div class="page-header">

  <%= yield :heading %>

</div>


<div class="row">
  <div id='padding' class="col-sm-2"></div>
  <div id='form' class='col-sm-8'>

    <%= yield :form %>

  </div><%#form column %>
</div>