<div class="page-header">
  <%= yield :heading %>
</div>

<div class="row">
	<div id='master' class="col-sm-4">
    <div class="list-group">
    	<%= yield :master_list -%>
    </div>
    <%= yield  :after_master_list -%>
  </div><%#master column %>
  <div id='detail' class='col-sm-8'>
	</div><%#detail column %>  
  <%= yield :after_detail -%>
</div>


<% content_for :js do %>
  <%# Create 'renderDetail(object)' here %>
  <%= yield :js_start -%>
  <%# 
    Script for master / detail selection
    Requires a function named 'renderDetail(object)' in :page
  %>
  <script type="text/javascript">

    var prevSelectedLink;
    var selectedObjectId;
    var detailXhr;

    $(document).ready(function() {

      //Display object from controller
      selectedObjectId = <%= @object != nil ? "#{@object.id}" : 'null' -%>;

      if (selectedObjectId != null) {
        var ctrlrObjectLink = $('#' + selectedObjectId);
        if (ctrlrObjectLink) {
          showObject(ctrlrObjectLink);
        }
      }

      //Handle click on master item
      $('#master > div.list-group > a.list-group-item').click(function(e) {       

        //Cancel the last ajax request - not sure if this is working
        if (detailXhr != null) {
          detailXhr.abort();
        }

        var link = $(e.target);

        //Handles click on children
        if (link.prop('tagName').toLowerCase() != 'a') {
          link = link.parent('a');
        }

        selectedObjectId = link.attr('id');
        showObject(link);
      });

      function showObject(masterLink) {

        //Make selected item active
        if (prevSelectedLink != null) {
          prevSelectedLink.removeClass('active');
        }
        prevSelectedLink = masterLink;
        prevSelectedLink.addClass('active');

        //Clear the detail div
        var detailDiv = $('#detail');
        detailDiv.fadeOut('fast', function() {
          detailDiv.empty();

          //Get data
          var jsonUrl = masterLink.attr('data-url');
          detailXhr = $.ajax(jsonUrl).done(function(object, status, xhr) {

            var html = object;
            detailDiv.append(html);
            detailDiv.fadeIn('fast');

            location.hash = jsonUrl;
          });
        });
      }      
    });
  </script>
<% end %>