<!DOCTYPE html>
<html>
<head>
  <title>SOL Database</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.png" />
</head>
<body role='document'>
	<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'SOL DB', jobs_path(overview: true), class: 'navbar-brand' -%>
      </div>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li data-controller='jobs'><%= link_to 'Jobs', jobs_path -%></li>
          <li data-controller='companies'><%= link_to 'Companies', companies_path, :company_type => CompanyType::CLIENT -%></li>
          <li data-controller='distribute_areas'><%= link_to 'Distribute Areas', distribute_areas_path -%></li>
          <li data-controller='delivery_locations'><%= link_to 'Delivery Locations', delivery_locations_path -%></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

            <% if current_user != nil %>
              <li class="dropdown">           
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user != nil ? current_user.email : 'Users' -%> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Edit Login', edit_user_registration_path -%></li>

                  <% if current_user.admin? %>
                    <li><%= link_to "Add User", new_user_path -%></li>
                  <% end %>

                  <li class="divider"></li>
                  <li><%= link_to 'Logout', destroy_user_session_path, method: 'delete' -%></li>
                </ul>
              </li>
            <% end %>

        </ul>
      </div><!-- navbar -->
    </div><!-- container -->
  </nav>

  <div class="container" role="main">

    <% if flash[:notice] %>
      <div id='success-flash' class="alert alert-success text-center">
        <%= flash[:notice] -%>
      </div>
    <% else %>
      <div id='success-flash' class="alert alert-success text-center hidden">
      </div>
    <% end %>
    
    <% if flash[:alert] %>
      <div id='error-alert' class="alert alert-danger alert-dismissable text-center fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= flash[:alert] -%>
      </div>
    <% else %>
      <div id='error-alert' class="alert alert-danger alert-dismissable text-center hidden">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      </div>
    <% end %>

    <% if @sublayout != nil %>
      <%= render @sublayout -%>
    <% else %>
      <%= yield if @sublayout == nil -%>
    <% end %>

  </div>
  
  <%= yield :js %>

  <script type="text/javascript">
    var successFlash = $('#success-flash');

    function showMessage(message) {
      successFlash.removeClass('hidden');
      successFlash.html(message);
      successFlash.slideDown('slow');
      hideMessage();
    }

    function hideMessage() {
      setTimeout(function() {
        successFlash.slideUp('slow');
      }, 1000);      
    }

    function showError(error) {
      var errorAlert = $('#error-alert');
      errorAlert.last().append(error);
      errorAlert.removeClass('hidden');
      errorAlert.slideDown('fast');
      $("html, body").animate({ scrollTop: 0 }, "slow");
    }

    $(document).ready(function() {

      //Make current navbar item active
      $("li[data-controller='<%= params[:controller] -%>']").addClass('active');

      //Instantiate form validation, dropdowns, datepickers and checkboxes
      validateAllForms(); // function in validate.js
      loadDropdowns(); // function in dropdowns.js
      loadDatePickers();  // function in datepicker.js
      loadCheckBoxes();  // function in checkbox.js

      //Hide success flash
      hideMessage();

    });
  </script>

</body>
</html>